body{
        margin: 0%;
        padding: 0%;
        background-color: #545454;
}
img.banner{
        margin-left: 20%;
}
img.logo{
        position: absolute;
        margin-top: 7%;
        left: 40px;
}
nav{
        width: 100%;
        display: flex;
        background-color: black;
        top: 0%;
        z-index: 100;
        position: sticky;
}
div.topnavbar{
        margin-left: 20%;
        justify-content: flex-end;
        padding: 20px;
}
a.navbar{
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-family: Calibri;
        font-weight: lighter;
        padding-inline-start: 50px;
        padding-inline-end: 50px;
        transition: all 0.6s;
}
a.navbar:hover{
        color: red;
}
div.side{
        display: flex;
}
div.sidebar{
        top: 0%;
        z-index: 100;
        position: relative;
        height: 31rem;
        width: 10rem;
        background-color: rgb(27, 27, 27);
}
a.sidebar{
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: Calibri Light;
        padding-block-end: 30px;
        padding-block-start: 30px;
        transition: transform 300ms ease-in-out;
}
a.sidebar:hover{
        transform: scale(1.3, 1.3);  
        color: red;
}
::-webkit-scrollbar{
        display: none;
}
div.sidelogo{
        text-align: center;
}
img.fblogo{
        border-radius: 30px;
        box-shadow: inset 0px 0px 25px red;
}

p.fblogo{
        color: red;
        font-size: 15px;
        font-family: Arial;
}
div.right-sidebar{
        background-color: black;
}
div.body-1{
        display: flex;
        width: 100%;
}
div.right-sidebar{
        text-align: center;
        top: 0%;
        z-index: 100;
        position: sticky;
        display: inline-block;
        height: 31rem;
        width: 10.3rem;
        background-color: rgb(27, 27, 27);
}
div.right-sidebar a{
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: Calibri Light;
        padding-block-end: 30px;
        padding-block-start: 30px;
        transition: transform 300ms ease-in-out;
}
div.right-sidebar a:hover{
        transform: scale(1.3, 1.3);  
        color: red;
}
div.men{
        position: relative;
        display: inline;
}
div.men-content{
        transform: translate(60%, 1%);
        display: none;
        position: absolute;
        background-color: #545454;
        width: 140%;
        height: 250px;
        z-index: 100;
        text-decoration: none;
        font-family: Calibri;
        font-weight: lighter;
        text-align: center;
        font-size: 25px;
        border-width: 30px;
        border: black;
        border-radius: 80px;
        border-style: inset;
}
div.men-content a{
        color: white;
        text-decoration: none;
        display: block;
        font-size: 30px;
        padding-block: 5px;
}
div.men-content a:hover{
        color: red;
        transition: all 0.2s ease;
}
div.men:hover div.men-content {
        display: block; 
        transition: all 0.5s;
}


div.women{
        position: relative;
        display: inline;
}
div.women-content{
        transform: translate(130%, 1%);
        display: none;
        position: absolute;
        background-color: #545454;
        width: 120%;
        height: 250px;
        z-index: 100;
        text-decoration: none;
        font-family: Calibri;
        font-weight: lighter;
        text-align: center;
        font-size: 25px;
        border-width: 30px;
        border: black;
        border-radius: 80px;
        border-style: inset;
}
div.women-content a{
        color: white;
        text-decoration: none;
        display: block;
        font-size: 30px;
        padding-block: 10px;
}
div.women-content a:hover{
        color: red;
        transition: all 0.2s ease;
}
div.women:hover div.women-content {
        display: block; 
}